$theme-color: #aea79f;
$theme-color-two: #dd4814;

#home-choice {
	margin-top: 20px;
}

a.link-unstyled {
	text-decoration: none;
	color: inherit;
}

a.link-unstyled:hover {
	font-weight: bold;
}

#login-buttons-logout, #login-buttons-password {
	background: $theme-color;
	border-color: $theme-color;
}

.dropdown-toggle {
	color: white;
}