@import 'main';

button {
	padding: 70px;
}

#end-game {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%; 
}

#assign-roles, #lock-players, #unlock-players, #refresh {
	width: 100%;
}

#refresh {
	margin-top: 10px;
}

#open-box {
	background-color: $theme-color-two; 
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 3px;
	color: white;
	text-align: center;
}
