button {
	padding: 70px;
}

#end-game {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%; 
}

#assign-roles, #lock-players, #unlock-players {
	width: 100%;
}

#open-box {
	background-color: #2c3e50; 
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 13px;
	border-radius: 3px;
	color: white;
	text-align: center;
}
