<template name="admin">
	<div class="table-responsive">
		<div class="container-fluid">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Secret</th>
						<th><a class="remove-enable" href="">Remove</a></th>
					</tr>
				</thead>
				<tbody>
					{{#each cards}}
					<tr class="{{alignment}}">
						<td>{{title}}</td>
						<td>{{description}}</td>
						<td>
						{{#if secret}}
						<input type="checkbox" id="secretBox" value="{{_id}}" checked="checked">
						{{else}}
						<input type="checkbox" id="secretBox" value="{{_id}}">
						{{/if}}
						</td>
						<td>
							{{#if removing}}
							<a id="remove" data-id="{{_id}}" href=""><span class="glyphicon glyphicon-trash"></span></a>
							{{else}}
							<span class="glyphicon glyphicon-minus"></span>
							{{/if}}
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<div class="container-fluid" id="new-card">
				{{> newCard }}
			</div>
			<form class="col-sm-3 container-fluid" id="new-admin">
				<div class="form-group">
					<label>Make User Admin</label>
					<input type="text" class="form-control" id="username" placeholder="Username">
				</div>
				<button type="submit" class="btn btn-danger">Submit</button>
			</form>
		</div>
	</div>
</template>