<template name="cards">
	<div class="container-fluid card">
		<p>Click on the cards to see descriptions, or <a href="" id="expand-all">expand all.</a></p>
	</div>
	<div class="container-fluid">
		{{#each cards}}
		<div class="panel panel-default panel-{{this.alignment}} card">
			<div class="panel-heading card-heading" data-id="{{this._id}}">
				<h3 class="panel-title card-title" id="expand-role" data-id="{{this._id}}">
					{{this.title}}
				</h3>
			</div>
			<div class="panel-body card-body" id="{{this._id}}">
				{{this.description}}
				{{#if thirdParty this}}
					<hr>
					<em>Win Condition: {{this.win}}</em>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</div>
</template>