<template name="cardList">
	<div class="container-fluid">
		<div class="panel panel-default panel-success">
			  <div class="panel-heading">
					<h3 class="panel-title">Townsperson</h3>
			  </div>
			  <div class="panel-body">
					You have no special actions.
			  </div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default panel-danger">
			  <div class="panel-heading">
					<h3 class="panel-title">Mafia</h3>
			  </div>
			  <div class="panel-body">
					You wake up each night with the rest of the mafia and help decide who to kill.
			  </div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Troll</h3>
			</div>
			<div class="panel-body">
				Your goal is to disrupt the game. If you win, you will be allowed to shoot one person.
				<hr>
				<em>Win Condition: Get executed.</em>
			</div>
		</div>
	</div>
</template>