<template name="home">
	<div class="row-fluid">
		{{#if isaUser}}
			{{#if isMod}}
				<div id="home-choice" class="col-sm-6">
				<a id="mod" class="new-game" href="#"><button type="button" class="btn btn-default btn-block">Start a Game</button></a>
				</div>
			{{else}}
				<div id="home-choice" class="col-sm-6">
				<a id="not-mod" class="new-game" href="/moderator"><button type="button" class="btn btn-default btn-block">Start a Game</button></a>
				</div>
			{{/if}}
				<div id="home-choice" class="col-sm-6">
				<a class="join-game" href="/joinroom"><button type="button" class="btn btn-default btn-block">Join a Game</button></a>
				</div>
		{{else}}
			<div class="container-fluid">
				<h3> Please login to play Mafia! </h3>
			</div>
		{{/if}}
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="alert alert-danger" id="failure-alert">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong>We know you're eager to play more mafia, but please end your other game before starting a new one!  </strong>
	</div>
</template>