<template name="players">
	<div class="container-fluid">
		<h1>Game <small>Setup</small></h1>
		<button type="button" class="btn btn-warning pull-right">Lock Players</button>
		<br>
		<br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Player</th>
						<th>Role</th>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody>
					{{#each players}}
						<tr>
							<td>{{this.username}}</td>
							<td><em>{{this.role}}</em></td>
							<td><input type="text" name="" id="input" class="form-control" title=""></td>
						</tr>
					{{/each}}
					<tr>
						<td></td>
						<td></td>
						<td><h3 class="pull-right">n Players</h3></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<template name="setup">
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					{{#each cards}}
					<tr class="{{alignment}}">
						<td>{{title}}</td>
						<td><input type="number" data-title="{{title}}" id="role-count" value="0" min="0" step="1"></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>	
	</div>
</template>

<template name="moderator">
	{{> players }}
	<br>
	<br>
	{{> setup }}
</template>