<template name="roleassignment">
	<div class="container-fluid">
		{{#if roomDeleted}}
		<h3>Your game has been deleted. Click <a href="/joinroom">here</a> to check out other games!</h3>
		{{else}}
		{{#if role}}
		{{#with role}}
			<a href="/"><button type="button" id="leave-game" class="btn btn-danger pull-right">Leave Game</button></a>
			<h2>{{modName}}'s Game</h2>
			<div class="panel panel-default panel-{{alignment}} card">
			<div class="panel-heading card-heading">
				<h3 class="panel-title"><a href="" class="link-unstyled" id="expand-role">{{title}}</a></h3>
			</div>
			<div class="panel-body">
				{{description}}
				{{#if thirdParty this}}
					<hr>
					<em>Win Condition: {{win}}</em>
				{{/if}}
			</div>
		</div>
		{{/with}}
		{{else}}
			<a href="/"><button type="button" id="leave-game" class="btn btn-danger pull-right">Leave Game</button></a>
			<h2>{{modName}}'s Game</h2>
			<h3>Please wait to be assigned a role.</h3>
		{{/if}}
		{{/if}}
		{{#if open}}
			<br>
			<br>
			<h2>In this setup...</h2>
			{{#each roles}}
			<div class="panel panel-default panel-{{alignment}} card">
				<div class="panel-heading card-heading">
					<h3 class="panel-title"><a href="" class="link-unstyled" id="expand-role">{{title}}</a></h3>
				</div>
			</div>
			{{/each}}
		{{/if}}
	</div>

</template>