<template name="roleassignment">
	<div class="container-fluid">
		{{#if roomDeleted}}
		<h3>Your game has been deleted. Click <a href="/joinroom">here</a> to check out other games!</h3>
		{{else}}
		{{#if role}}
		{{#with role}}
			<h1>{{modName}}'s Mafia Game</h1>
			<h3>Your Role</h3>
			<div class="panel panel-default panel-{{alignment}} card">
			<div class="panel-heading card-heading">
				<h3 class="panel-title"><a href="" class="link-unstyled" id="expand-role">{{title}}</a></h3>
			</div>
			<div class="panel-body">
				{{description}}
				{{#if thirdParty this}}
					<hr>
					<em>Win Condition: {{win}}</em>
				{{/if}}
			</div>
		</div>
		{{/with}}
		{{else}}
			<h1>{{modName}}'s Mafia Game</h1>
			<h3>Please wait to be assigned a role</h3>
		{{/if}}
		<a href="/"><button type="button" id="leave-game" class="btn btn-warning pull-right">Leave Game</button></a>
		{{/if}}
	</div>

</template>