<template name="rules">
	<div class="container-fluid">
		<h3>What is mafia?</h3>
		<p>Mafia is a party game that is built on both strategy and logic. It pits an informed minority (the <em>mafia</em>) against an uninformed majority (the townspeople). When you begin the game, you get a <a href="/cards">role</a>: will you be part of the town, or the mafia?</p>

		<h3>How to Play</h3>

		<p>The game begins at night...</p>

		<h4>NIGHT</h4>

		<p>All players close their eyes. The moderator tells all the mafia to wake up. They silently agree on someone to kill, and after they fall back asleep. After the dust settles, the sun rises.</p>

		<h4>DAY</h4>

		<p>Everyone wakes up, and usually discover that someone has died. Frightened, the civilians form a "block" in an attempt to execute the mafia. If an individual is "nominated" and then "seconded," he or she is put on the block. The blocking process ends when there are 2-3 people on the block.</p>

		<p>Then come the defenses. Each person on the block makes a speech on why he or she shouldn’t be executed.</p>

		<p>Some discussion follows, and then the town decides on who to execute. That person dies, never to be seen again, and it is not known if the person was an innocent bystander or a treacherous mafia.</p>
		<br>
		<p>After the long day, everybody goes back to sleep... and the dreadful cycle repeats until the town triumphs, or the mafia claim victory.</p>
		<br>
		<br>
	</div>
</template>